<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<body>
    <a href="/input"> 돌아가기 </a>
    <div class="container">
        <div>
            <div th:text="${username} + '님의 정보입니다.'">님의 정보입니다.</div>
            <table>
                <thead>
                <tr>
                    <th>이름</th>
                    <th>이미지</th>
                </tr>
                <tbody>
                <tr th:each="item : ${items}">
                    <td th:text="${item.name}"></td>
                    <td><img th:attr="src=${item.icon}" /></td>
                </tr>
                </tbody>
                </thead>
            </table>
        </div>
    </div>
</body>
</html>